.pointer:hover {
    cursor: pointer;
    opacity: .8;
}


/* Fijar head de la tabla, establecer height */

.table__fix {
    overflow-y: auto;
    height: 410px;
    margin: 0;
}

.fix__header_t tr th {
    position: sticky;
    top: 0;
    background-color: white;
}
/*========== SCROLL BAR ==========*/

::-webkit-scrollbar {
    width: .60rem;
    height: .60rem;
    background-color: #DFDFDF;
    border-radius: .5rem;
    cursor: pointer;

}

::-webkit-scrollbar-thumb {
    background-color: rgba(112, 131, 131, 0.644);
    border-radius: .5rem;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 231, 231);
}


/* color card */
.steel{
    background: #CCCCCC;
}
.water{
    background: #B0E2FF;
}
.bug{
    background: #99CC33;
}
.dragon {
    background:#AB82FF;
}
.electric {
    background: #FFD700;
}
.ghost{
    background:#778899;
}
.fire{
    background: #FF7F00;
}
.fairy{
    background: #FFB0FF;
}
.ice{
    background:#ADD8E6;
}
.fighting{
    background: #FF6A6A;
}
.normal{
    background: #DDCCAA;
}
.grass{
    background: #99FF66;
}
.psychic{
    background: #FFB5C5;
}
.rock{
    background: #CD853F;
}
.dark{
    background:#A9A9A9;
}
.ground{
    background: #DEB887;
}
.poison{
    background: #CC88BB;
}
.fighting{
    background: #BAAAFF;
}


/* // footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: rgb(138, 205, 243);
    color: white;
    text-align: center;
  }

  .searching{
      /* margin: 2rem; */
      width: 70%;
  }
@media screen and (max-width: 576px) {
    
    .pokeCard{
        /* height: 200px; */
        width: 200px;
    }
}